body {
  margin: 0;
  font-family: "Gotham", Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#cookie-law-info-bar, #cliSettingsPopup, #cookie-law-info-again {
  display: none !important;
}

@font-face {
  font-family: 'Gotham';
  src: url('./Gotham-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
   -webkit-box-shadow: 0 0 0 30px #121212e8 inset !important;
   -webkit-text-fill-color: #ffffff !important;
}

.logo {
  margin-bottom: 50px;
  width: 100%;
}

.Mui-focused {
  color: white !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

button {
  background-color: white !important;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
